* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    background: #333;
    color: #fff;
}

.main-nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    padding: 12px 17px;
    display: inline-block;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*login register */

.form-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
}

.form-container input {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-container button {
    text-align: center;
    margin: 5px 0;
    width: 100%;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.alert-danger {
    text-align: center;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success {
    text-align: center;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.form-container.profile {
    width: 400px;
}

.form-container.profile a {
    color: inherit;
}

.article {
    padding: 15px;
}

.article h1 {
    margin-top: 10px;
}

.article .no-article {
    text-align: center;
}

.create-article a {
    background-color: #0FB4BB;
    color: #fff;
    padding: 10px 15px;
}

.article form textarea {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


.blog-news {
    display: flex;
    flex-wrap: wrap;
    margin: 35px 0;
}

.blog-news .each {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 10px;
}

.blog-news .each > div {
    height: 60%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.blog-news .each img {
    max-width: 100%;
    max-height: 100%;

}

.blog-news .each .desc {
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
